h1,
h2,
h3 {
  margin: 0;
}

@font-face {
  font-family: 'Play', sans-serif;
  src: url(./assets/fonts/Play-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Unica One', cursive;
  src: url(./assets/fonts/UnicaOne-Regular.ttf) format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0;
}
select {
  width: 100%;
  font-size: 30px;
}
option {
  text-align: center;
  font-size: 30px;
}
table {
  border: none;
  color: inherit;
}
.hidden {
  display: none;
}
.danger {
  color: red;
}
.now-playing {
  margin: 5px 0;
  text-decoration: underline;
  font-weight: bold;
}
.artist {
  width: 150px;
}
.title {
  width: 250px;
}
.nav-button {
  width: 100px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 15%;
  border: 3px solid black;
  background-color: white;
  font-family: "Unica One";
}
.grid-view {
  width: 50%;
  height: 210px;
}
.full-view {
  width: 100%;
  height: 420px;
}
.status-icons {
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}
.night-mode {
  background-color: black;
  color: white;
}
.small-button {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 10%;
  background-color: white;;
}
#settings {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top : 0;
  right: 0;
  width: 60px;
  z-index: 999;
}
#music-controls {
  text-align: center;
}
#now-playing-popup {
  position: relative;
  bottom: 30px;
  margin: 0 auto;
  z-index: 999;
  height: 30px;
  border: none;
  text-align: center;
}
#now-playing-popup-text {
  background: white;
  line-height: 30px;
  font-size: 25px;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
#songs-list {
  width: 100%;
}
#speed {
  font-family: "Play";
  text-align: center;
  font-size: 80px;
}

#bottom-navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  height: 60px;
  background-color: #919191;
}